.favorites {
  min-height: 43em;
  &__title {
    margin-left: calc(50% - 150px);
    width: 300px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  &__backButton {
    position: relative;
    top: 65px;
    margin-left: 30px;
  }
  &__search {
    margin-top: 20px;
    margin-left: 30px;
  }
  &__sort {
    margin-left: 30px;
  }
}
.errorMessage {
  color: #d32f2f;
  background: #ffebee;
  padding: 8px 12px;
  border-radius: 4px;
  margin-bottom: 16px;
  font-size: 14px;
}

.loadingMessage {
  text-align: center;
  color: #666;
  margin-top: 20px;
}
