.img {
  height: 700px;
  object-fit: cover;
  object-position: top;

  @media screen and (max-width: 1300px) {
    height: 600px;
  }
  @media screen and (max-width: 1000px) {
    height: 500px;
  }
  @media screen and (max-width: 700px) {
    height: 400px;
  }
  @media screen and (max-width: 500px) {
    height: 300px;
  }
}
